@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond-Regular.ttf) format("truetype"),
         url(../fonts/EBGaramond-Italic.ttf) format("truetype"),
         url(../fonts/EBGaramond-Bold.ttf) format("truetype"),
         url(../fonts/EBGaramond-BoldItalic.ttf) format("truetype");
}
        
// CSS reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}


// Main styles
body {
    font-family: 'EBGaramond', serif;
    background-color: hsl(36, 61%, 75%);
    font-size: 1.5rem;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(0deg, hsl(20, 45%, 29%) 0%, hsl(23, 48%, 56%) 100%); 
    border-bottom: 1px solid hsl(20, 45%, 20%);
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.10);

    &__text {
        color: hsl(0, 0%, 100%);

        &--gold {
            color: gold;
        }
    }

    &__btn {
        padding: 0.35rem 1rem;
        background: linear-gradient(0deg, hsl(10, 95%, 14%) 0%, hsl(10, 45%, 38%) 100%);
        color:hsl(0, 0%, 100%);
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid hsl(36, 61%, 75%);
        transition: all 200ms ease;

        &:hover, &:focus {
            background: linear-gradient(0deg, hsl(10, 95%, 14%) 0%, hsl(10, 45%, 50%) 100%);
        }

        &:focus {
            box-shadow: 0 0 3px 3px hsl(10, 95%, 14%);
        }

        &:active {
            background: linear-gradient(0deg, hsl(10, 95%, 5%) 0%, hsl(10, 65%, 25%) 100%);
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;

    .dashboard {

        &__title {

        }

        &__subtitle {
            font-weight: 400;
        }
        
        &__stock {
            margin-top: 2rem;
        }

        &__item {
            display: flex;
            align-items: start;
            line-height: 1.25;
            margin-bottom: 1rem;
            list-style-type: none;
            background-color: hsl(20, 30%, 33%);
            border: 1px solid hsl(10, 95%, 14%);
            padding: 0.5rem;
            color:hsl(36, 61%, 75%);
        }

        .item__photo {
            border: 1px solid hsl(36, 61%, 75%);
        }
        
        .item__info {
            margin: 0 1rem;
            line-height: 1.2;
        }

        .item__name {
            font-weight: 700;
            font-size: 1.8rem;
        }

        .item__quantity {
            font-size: 1.3rem;
        }
    }
}

.market {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: white;
    transition: all 200ms ease-in-out;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.50);
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

