@font-face {
	font-family: EBGaramond;
	src: url(../assets/fonts/EBGaramond-Regular.ttf) format('truetype'), url(../assets/fonts/EBGaramond-Italic.ttf) format('truetype'),
		url(../assets/fonts/EBGaramond-Bold.ttf) format('truetype'), url(../assets/fonts/EBGaramond-BoldItalic.ttf) format('truetype');
}

// CSS reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	height: 100%;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

input,
button,
textarea,
select {
	font: inherit;
	border: 0;
}

button {
	background-color: unset;
	border: unset;
	cursor: pointer;
}

// Mixins
@mixin noise {
	background-image: url('../assets/images/noise-300x300.png');
	background-size: 150px;
}

// Main styles
body {
	font-family: 'EBGaramond', serif;
	font-size: 1.5rem;
	background-color: hsl(36, 61%, 75%);
	@include noise;
}

.navbar {
	background: linear-gradient(180deg, hsl(10, 50%, 35%) 90%, hsl(10, 50%, 25%) 100%);
	border-bottom: 1px solid hsl(20, 45%, 20%);
	box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);

	&__text {
		color: hsl(51, 70%, 80%);

		&--gold {
			color: hsl(51, 80%, 50%);
		}
	}

	&__container--texture {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		@include noise;
	}
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2rem;

	.dashboard {
		min-width: 300px;
		max-width: 380px;
		padding: 0 2rem;

		&__title {
			font-size: 2rem;
		}

		&__subtitle {
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 1.2;
		}

		&__stock {
			margin-top: 2rem;
		}

		@media (min-width: 620px) {
			padding: 0;
		}

		&__item {
			list-style-type: none;
			margin-bottom: 1rem;
			background: linear-gradient(0deg, hsl(10, 50%, 35%) 0%, hsl(10, 50%, 25%) 100%);
			box-shadow: inset 0 -2px 0 hsla(0, 0%, 100%, 0.1), inset 0 2px 10px hsla(0, 0%, 0%, 0.4);
		}

		.item__container {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0.75rem 1rem;

			&--texture {
				@include noise;
			}
		}

		.item__image {
			border: 1px solid hsl(23, 48%, 56%);
		}

		.item__info {
			width: 100%;
			margin: 0 1rem;

			&--container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				@media (min-width: 370px) {
					flex-direction: row;
				}
			}
		}

		.item__name {
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.2;
			color: hsl(36, 61%, 75%);
		}

		.item__quantity,
		.item__price {
			font-size: 1rem;
			color: hsl(36, 61%, 70%);
		}
	}
}

.market {
	visibility: hidden;
	width: 85%;
	min-width: 320px;
	max-width: 640px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 10;
	transition: all 200ms ease-in-out;
	padding: 1rem;
	border: 6px solid hsl(20, 30%, 33%);
	background-color: hsl(20, 45%, 20%);
	color: hsl(36, 61%, 75%);
	box-shadow: inset 0 -1px 0 hsla(36, 61%, 75%, 0.5), inset 0 6px 10px hsla(0, 0%, 0%, 0.2), 0 15px 25px hsla(0, 0%, 0%, 0.15),
		0 5px 10px hsla(0, 0%, 0%, 0.5);
	@include noise;

	@media (min-width: 480px) {
		padding: 2rem;
	}

	&.active {
		transform: translate(-50%, -50%) scale(1);
		visibility: visible;
	}

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid hsl(23, 48%, 56%);
	}

	&__close {
		svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: hsl(36, 61%, 75%);
			transition: all 100ms ease;
		}

		&:hover,
		&:focus {
			box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
		}
	}

	&__gold-balance {
		padding: 0.75rem 0;
		text-align: center;
		font-size: 1.25rem;
		color: hsl(51, 70%, 80%);
	}

	.gold-balance {
		color: hsl(51, 80%, 50%);
	}

	.products__item {
		list-style-type: none;
		margin-bottom: 1rem;
	}

	.item__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.item__image {
		border: 1px solid hsl(23, 48%, 56%);
		border-radius: 1px;
		display: none;

		@media (min-width: 480px) {
			display: inline-block;
		}
	}

	.item__info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		@media (min-width: 480px) {
			margin-left: 1rem;
		}

		.item__name {
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: 0.25rem;

			@media (min-width: 512px) {
				font-size: 1.25rem;
			}
		}

		.item__details {
			display: flex;
			flex-direction: column;

			@media (min-width: 460px) {
				flex-direction: row;
				gap: 1rem;
			}

			.item__quantity,
			.item__price {
				font-size: 1rem;
				color: hsl(36, 61%, 65%);
				line-height: 1.2;
			}
		}
	}

	.item__actions {
		display: flex;
		align-items: center;
		margin: 0 0.5rem;

		@media (min-width: 480px) {
			margin: 0 1rem;
		}

		.item__increase,
		.item__decrease {
			width: 32px;
			height: 32px;
			font-size: 1.2rem;
			padding-bottom: 1.5rem;
			color: hsl(36, 61%, 75%);
			background-color: hsl(10, 95%, 14%);
			border: 1px solid hsl(10, 45%, 38%);
			transition: all 100ms ease;

			&:hover,
			&:focus {
				background-color: hsl(10, 45%, 38%);
				box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
			}

			&:active {
				background-color: hsl(10, 95%, 5%);
				border-color: hsl(20, 45%, 20%);
			}
		}

		.item__quantity {
			width: 32px;
			height: 32px;
			color: hsl(36, 61%, 75%);
			font-size: 1rem;
			font-weight: 700;
			text-align: center;
			background-color: hsl(10, 95%, 5%);
			border-top: 1px solid hsl(10, 45%, 38%);
			border-bottom: 1px solid hsl(10, 45%, 38%);

			&:focus,
			&:active {
				box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
			}
		}
	}

	.item__cost {
		font-size: 1rem;
		line-height: 1.2;
		text-align: right;
		min-width: 3rem;
	}

	.products__total {
		display: flex;
		justify-content: space-between;
		margin: 1.5rem 0 0 0;
		padding-top: 0.5rem;
		border-top: 1px solid hsl(23, 48%, 56%);

		.total__text,
		.total__value {
			font-weight: 700;
			font-size: 1.2rem;
		}
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;

		.btn--primary {
			margin-left: 0.5rem;
		}
	}

	.primary__actions,
	.secondary__actions {
		display: flex;
		align-items: center;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(0, 0%, 0%, 0.7);
	pointer-events: none;
	opacity: 0;
	transition: all 200ms ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.btn {
	padding: 0.35rem 1rem;
	background-color: hsl(36, 61%, 75%);
	color: hsl(10, 95%, 14%);
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 200ms ease;

	&--primary {
		box-shadow: 0 0 3px 1px hsl(10, 95%, 14%);

		&:hover,
		&:focus {
			background-color: hsl(40, 80%, 65%);
			box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
		}

		&:active {
			background-color: hsl(40, 80%, 10%);
			color: hsl(40, 80%, 65%);
			box-shadow: none;
		}
	}

	&--secondary {
		color: hsl(36, 61%, 75%);
		border: 1px solid hsl(36, 61%, 75%);
		background: none;

		&:hover,
		&:focus {
			border-color: hsl(40, 80%, 65%);
			color: hsl(40, 80%, 65%);
			box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
		}

		&:active {
			background-color: hsl(40, 80%, 10%);
			color: hsl(40, 80%, 65%);
			box-shadow: none;
			border-color: transparent;
		}
	}

	&--tertiary {
		color: hsl(36, 61%, 75%);
		border: 0;
		background: none;
		padding: 0;

		&:hover,
		&:focus {
			text-decoration: underline;
			box-shadow: 0 0 0 4px hsl(40, 80%, 55%);
		}

		&:active {
			color: hsl(40, 80%, 10%);
		}
	}

	&--sound {
		border: 1px solid hsl(10, 95%, 14%);
	}
}

.message {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	padding: 0.5rem;
	color: hsl(10, 95%, 5%);
	background-color: hsl(36, 61%, 75%);

	&__icon {
		margin-right: 0.3rem;

		svg {
			width: 24px;
			height: 24px;
			display: block;
		}
	}

	&__text {
		font-size: 1rem;
		line-height: 1.25;
	}

	&--secondary {
		background: none;
		border: 1px solid hsl(20, 45%, 29%);
	}
}

.loader__container {
	&--dashboard {
		height: 25vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&--modal {
		margin-left: 1rem;
	}

	.loader {
		animation: 2s infinite cubic-bezier(0.65, 0.05, 0.36, 1) loading;

		&__icon {
			width: 24px;
			height: 24px;
			display: block;
			fill: hsl(36, 61%, 75%);

			&--secondary {
				fill: hsl(10, 94%, 14%);
			}
		}
	}
}

.sound {
	position: absolute;
	bottom: 1rem;
	left: 1rem;

	&__control {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-transform: none;
		font-weight: 400;

		&:hover,
		&:focus {
			box-shadow: 0 0 0 4px hsl(10, 95%, 14%);
		}
	}

	&__icon {
		height: 24px;
		width: 24px;
		margin-right: 0.5rem;
		fill: hsl(10, 94%, 14%);
	}
}

.hidden {
	display: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.btn--disabled {
	pointer-events: none;
	opacity: 0.5;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(180deg);
	}
}

// Remove input spinner arrows from appearing in Firefox
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}
