* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	border: none;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Segoe UI', sans-serif;
	position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.market {
	display: none;
	background-color: white;
	padding: 40px;
	font-size: 18px;
}

.market-title,
.item-image,
.item-name {
	display: inline-block;
	vertical-align: middle;
}

/* Overwrite inherited styles from Bootstrap */
.market-title {
	margin: 0;
}

.close-market {
	float: right;
	height: 30px;
	width: 30px;
	background-color: white;
}

.market-products {
	margin-bottom: 40px;
}

.market-header {
	margin-bottom: 40px;
}

.products-item {
	list-style-type: none;
	margin-bottom: 20px;
	font-size: 0;
}

.item-image {
	margin-right: 10px;
}

.item-actions {
	float: right;
}

.item-decrease,
.item-increase {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.item-actions input {
	text-align: center;
	width: 40px;
	height: 30px;
	font-size: 18px;
}

.item-cost {
	float: right;
	text-align: right;
	width: 80px;
	font-size: 18px;
}

.products-total {
	margin-bottom: 60px;
}

.products-total:after {
	content: '';
	display: block;
	clear: both;
}

.total-value {
	float: right;
}

.products-total span {
	font-size: 18px;
	font-weight: 700;
}

.market-actions {
	text-align: right;
}

.market-actions button {
	width: 100px;
	height: 40px;
	border-radius: 0;
	font-size: 18px;
}
